
body {
    color: white;
    background-color: rgb(51, 51, 51);
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Serif SC', serif;}

.dual-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    margin: auto;
    justify-items: center;
    align-items: center;
}

.time-sets {
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items: center;
    align-items: center;
}

